* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 1px grey; */
}

:root {
    --bgr-clr: #ecf5e8d0;
    /* --bgr-clr: red; */
    --table-bgr: #f6f8f4ed;
    --heading-clr: #171717;
    --heading-clr2: #0c0c0c;
    --txt-clr: #212121;
    --header-rw-bgr: #d8e8db;
    --odd-rw-bgr: #f1f6f2;
    --even-rw-bgr: #e2e9e3;
    --border-clr: #E1D5C8;
    --btn-bgr: #51bf6d;
    --btn-bgr-2: #34974d;
    --btn-bgr-3: #52cb70;
}

body {
    /* background-color: #f9fafb; */
    background-color: var(--bgr-clr);
    color: var(--txt-clr);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: 2.5rem;
    /* border: solid red 2px; */
}

.main-header {
    color: var(--heading-clr);
}

.sub-header {
    color: var(--heading-clr2);
}

.table-and-btn {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    /* background-color: rgba(255, 255, 255, 0.772); */
    background-color: var(--table-bgr);
    padding: .2rem;
    border-radius: .5rem;
    /* border: solid green 2px; */
    overflow: hidden;
    /* overflow: scroll; */
}

.add-btn {
    align-self: flex-end;
    font-size: 1rem;
    font-weight: 800;
    display: flex;
    gap: .3rem;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
    margin-right: .5rem;
    background-color: var(--btn-bgr);
    border: solid 2px var(--btn-bgr-2);
    border-radius: .2rem;
    color: #000;
    cursor: pointer;
}

.add-btn i {
    background-color: var(--btn-bgr-2);
    padding: .4rem .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.add-btn span {
    padding: .2rem .5rem;
}

.add-btn:hover {
    background-color: var(--btn-bgr-3);
}

.table-container {
    width: 100%;
    height: 100%;
    overflow: scroll;
}


.table, th, td {
    border-collapse: collapse;
    /* border: 1px solid #d1d5db; */
    /* border: 1px solid #d0d3d7; */
    border: solid 1px var(--border-clr);
}

.table-header {
    min-width: 15rem;
    background-color: var(--header-rw-bgr);
}

tr:nth-child(odd) {
    background-color: var(--odd-rw-bgr);
}

tr:nth-child(even) {
    background-color: var(--even-rw-bgr);
}

.table-data {
    max-height: 1.5rem;
}

.card-number {
    min-width: 2rem !important;
    width: fit-content !important;
    text-wrap: nowrap;
    padding: 0 2rem;
}

.table-data input {
    /* border: none; */
    outline: none;
    padding: .5rem;
    height: 100%;
    /* width: 100%; */
}

.table-data > input {
    width: 100%;
    border: none;
    font-size: 1rem;
    background-color: inherit;
}

.client-information {
    min-height: 100%;
}

.radio-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: .5rem;
    /* max-width: 100%; */
    /* border: solid 1px red; */
    /* padding-right: .5rem; */
}

/* .radio-btn-container * {
} */

.radio-btn-container label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    max-width: 100% !important; 
    /* border: solid 2px green; */
}

.radio-btn-container label input {
    display: block;
    /* border: solid 5px red; */
}

.disease-type-container {
    padding-top: .3rem;
    margin: 0 .5rem;
    display: flex;
    gap: 1rem;
    /* flex-wrap: nowrap; */
}

.disease-type-container label{
    width: fit-content;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    gap: .4rem;
}

.duration-container {
    padding: .2rem;
    display: flex;
    gap: .5rem;
}

.duration {
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    margin-right: 3rem;
}

.duration-input {
    width: 3rem;
    margin-left: .5rem;
    border: solid 1px rgba(128, 128, 128, 0.148);
    border-left: none;
    /* border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem; */
} 

.duration-label {
    white-space: pre-wrap;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

/* .duration-input {
    width: 1rem;
} */

.btn-and-search {
    padding: .1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    border: solid 1px var(--btn-bgr);
    background-color: #fff;
    height: 80%;
    display: flex;
    align-items: center;
    padding: .8rem;
    gap: .4rem;
    border-radius: .5rem;
}

.search-bar input {
    font-size: 1.1rem;
    border: none;
    outline: none;
    background-color: inherit;
}

.search-bar:focus-within {
    border-color: #57e37a;
    box-shadow: 0 0 4px #57e37a inset;
}

input::placeholder {
    font-style: italic;
}

/* .med-icon-container {
    
}   */

.med-icon {
    width: 100%;
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    color: rgb(42, 138, 42);
    background-color: inherit;
}

.med-icon:hover {
    /* box-shadow: 0 0 15px rgb(175, 255, 54) inset; */
    box-shadow: 0 0 15px var(--btn-bgr-3) inset;
}

.medical-information {
    padding: 3rem 7rem;
    min-height: 100vh;
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    text-align: center;
    background-color: var(--table-bgr);
    position: relative;
}

.inputs {
    width: 100%;
    margin-top: 1.05rem;
}

.labels {
    white-space: nowrap;
    width: 25%;
    border-left: solid 3px #bbb;
    padding: 0 .5rem;
    /* margin-right: 5rem; */
}

.callingday-input {
    margin-left: 1rem;
    padding: .1rem .4rem;
}

.lined-textarea {
  display: inline-block;
  /* margin-top: 1.75rem; */
  width: 100%;
  height: 100px;
  line-height: 1.5em;
  font-family: monospace;
  background:
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 1.4em,
      #999 1.5em
    );
  padding: 0.5em;
  border: 1.34px solid #999;
  resize: vertical;
}

.information-label-and-input {
    display: flex;
    /* border: solid 2px red; */
    
    min-width: 100%; 
    margin-top: 1rem;
}

.back-btn {
    position: absolute;
    top: 2rem;
    left: 3rem;
    font-size: 1.3rem;
    padding: .5rem;
    border-radius: 50%;
    border: 1px solid var(--txt-clr);
    background-color: var(--even-rw-bgr);
}

.back-btn:hover {
    background-color: var(--header-rw-bgr);
}

.name-in-result-page {
    text-align: left;
    font-size: 1.2rem;
    text-decoration: underline;
    margin-bottom: 3rem;
    color: var(--txt-clr);
}

.name-in-result-page span {
    font-weight: 600;
}